@model Forun.Models.Comment

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {

            <div>
                @Html.LabelFor(model => model.Author)
                @Html.TextBoxFor(model => model.Author)
            </div>

            <div>
                @Html.LabelFor(model => model.Content)
                @Html.TextAreaFor(model => model.Content, new {@maxlength = 500})
            </div>

            <button type="submit">Salvar</button>
        }
    </div>
</body>
</html>
