@model Forun.Models.Comment

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Editar Comentário</h1>
    <section class="w-100 d-flex justify-content-center">

        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(model => model.Content)
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-dark mt-2">Salvar Alterações</button>
        }
    </section>
</body>
</html>
